<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net461" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net461" />
  <package id="NModbus" version="3.0.51" targetFramework="net461" />
</packages>